@tailwind base;
@tailwind components;
@tailwind utilities;

.robinhood-bg {
  background: rgb(248, 249, 249);
  background: linear-gradient(
    180deg,
    rgba(248, 249, 249, 1) 0%,
    rgba(209, 209, 209, 1) 100%
  );
}
.input {
    @apply px-4 pr-8 py-2 border-2 rounded-md border-gray-200 hover:ring-1 hover:ring-blue-400 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-blue-300 focus:border-transparent;
}